Chlazeni_FVE_flows_15032025.json
[{"id":"6cf0017697520c44","type":"tab","label":"chlazeni FVE","disabled":false,"info":"\r\n","env":[]},{"id":"5ef2f88976e86112","type":"group","z":"6cf0017697520c44","name":"SHELLY::FANS","style":{"label":true},"nodes":["963735aa2c2813dd","232971085f517d96","adc258f90f469e5a","4b426567f09395d4","5fccbb56b9c0a1e6","84042b69f9b84c81","9b2cf902516106b9","3416fd3bc02de1c1","e88d7e3953ab230d","dcf18630a930ca56","8276fff68367b447","336752599f366b33","c71d738693128266","290dcec4e2dbed6d","70a281e12c852b87","ee6410f23d9f9867","2cd8f1d0601931db","d705678e916ee6db","0113661ddfe281dc","8579b5149bcc953d","b30112a2ed023059","b14b4c17683c173a","c9bf73f8978fc162","08ae0e51d9c5db3d","8d54f61ab89ebbd6","af0ca4755bf9af8e"],"x":54,"y":59,"w":1632,"h":522},{"id":"f3a8a67ff0904e39","type":"ui_tab","name":"🔎 FVE","icon":"","order":1,"disabled":false,"hidden":false},{"id":"eff8c2fb7917b0ab","type":"ui_group","name":"👁️‍🗨️ Real Data","tab":"f3a8a67ff0904e39","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"963735aa2c2813dd","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"MPTT","func":"//*****************************************************************************\n//\n// File Name        : 'Chlazeni MPTT trakeru'\n// Title            : Cooling of Trackers in the Rack\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 21-10-2023, 11:00\n// Revised          : 06-07-2024, 10:27\n// Version          : 1.3\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\n// Debugging flag\nconst debug = false;  // Nastavte na true pro zapnutí debug zpráv\n\n//definice globalních funkci\nconst fSendUrl = global.get('fSendUrl');\n\nif (fSendUrl) {\n    const nRelayNumber = 0;\n    const sIpAddress = \"192.168.11.7\";\n    let sTurn = \"off\";  // Výchozí hodnota\n    let nTurn = 0;  // Výchozí hodnota\n    let n_trigger_MPTT = 500; // defaultní hodnota triggeru\n    let _url = \"\";\n\n    //Načtení vstupních dat\n    const _general_stop = msg.payload._general_stop;// general stop\n\n    // Načteni globálních dat\n    const pvPower = global.get(\"pvPower\") || 0; // Hodnota z registru 819 \n\n    if (_general_stop == true){\n        sTurn = \"off\";\n        nTurn = 0;\n    }else{// Zkontroluj, zda pvPower je větší nebo rovno 1200 a nastav sTurn podle toho\n        if (pvPower >= n_trigger_MPTT) {\n            sTurn = \"on\";\n            nTurn = 1;\n        } else {\n            sTurn = \"off\";\n            nTurn = 0;\n        }\n    }\n\n    // Vytvořit URL na základě hodnoty sTurn\n    _url = fSendUrl(sIpAddress, nRelayNumber, sTurn);\n\n    // Nastavit payload zprávy\n    msg.payload = {\n        _url_m: _url,\n        pvPower: pvPower,\n        nTurn: nTurn,\n        sTurn: sTurn + \" MPTT\"\n    };\n\n    // Debug výpisy\n    if (debug) {\n        node.warn(\"pvPower: \" + pvPower);\n        node.warn(\"sTurn: \" + sTurn);\n        node.warn(\"URL: \" + _url);\n    }\n    } else {\n    node.error(\"Globální funkce nebyly nalezeny. <- FORM CHLAZENI FVE -- MPTT\");\n}\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":380,"wires":[["232971085f517d96","336752599f366b33","c71d738693128266","d705678e916ee6db"]]},{"id":"232971085f517d96","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"_url_m","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload._url_m","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"adc258f90f469e5a","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"OFF_MPTT","func":"//*****************************************************************************\n//\n// File Name        : 'Chlazeni MPTT trakeru'\n// Title            : Cooling of Trackers in the Rack\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 19-12-2023, 09:51\n// Revised          : 19-12-2023, 09:52\n// Version          : 1.11\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\nmsg.payload = \"http://192.168.11.7/relay/0?turn=off\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":480,"wires":[["84042b69f9b84c81"]]},{"id":"4b426567f09395d4","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"ON_MPTT","func":"//*****************************************************************************\n//\n// File Name        : 'Chlazeni MPTT trakeru'\n// Title            : Cooling of Trackers in the Rack\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 19-12-2023, 09:51\n// Revised          : 19-12-2023, 09:52\n// Version          : 1.11\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\nmsg.payload = \"http://192.168.11.7/relay/0?turn=on\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":520,"wires":[["84042b69f9b84c81"]]},{"id":"5fccbb56b9c0a1e6","type":"inject","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"START 1 minuta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 4-21 * * *","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["963735aa2c2813dd","af0ca4755bf9af8e"]]},{"id":"84042b69f9b84c81","type":"http request","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"{{{payload}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1190,"y":360,"wires":[["3416fd3bc02de1c1","08ae0e51d9c5db3d"]]},{"id":"9b2cf902516106b9","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"CHANGER","func":"//*****************************************************************************\n//\n// File Name        : 'Chlazeni_CHANGERs'\n// Title            : Cooling of Changers in the Rack\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 21-10-2023, 11:00\n// Revised          : 06-07-2024, 10:27\n// Version          : 1.4\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\n// Debugging flag\nconst debug = false;  // Nastavte na true pro zapnutí debug zpráv\n\n//definice globalních funkci\nconst fSendUrl = global.get('fSendUrl');\nconst nConvertSignetUnsignet = global.get('nConvertSignetUnsignet');\n\nif (fSendUrl && nConvertSignetUnsignet) {\n\n    const nRelayNumber = 0;\n    const sIpAddress = \"192.168.11.9\";\n    let sTurn = \"off\";  // Výchozí hodnota\n    let nTurn = 0;  // Výchozí hodnota\n    let n_trigger_Changer = 700; // defaultní hodnota triggeru\n    let _url = \"\";\n\n    //Načtení vstupních dat\n    const _general_stop = msg.payload._general_stop;// general stop\n\n    // Definice fazi AC LOAD\n    const phase1 = global.get(\"phase1\") || 0; // Hodnota z registru 817\n    const phase2 = global.get(\"phase2\") || 0;  // Hodnota z registru 818\n    const phase3 = global.get(\"phase3\") || 0;;  // Hodnota z registru 819\n\n    // Definice Gridu\n    const grid1 = global.get(\"grid1\") || 0; // Hodnota z registru 811\n    const grid2 = global.get(\"grid2\") || 0;  // Hodnota z registru 812\n    const grid3 = global.get(\"grid3\") || 0;;  // Hodnota z registru 813\n\n    // Spočítat celkový odběr AC zátěže\n    let totalACLoad = phase1 + phase2 + phase3;\n\n    //Spočítat celkový odber nebo dodávku do GRIDu\n    let _ABS_totalGrid = Math.abs(grid1 + grid2 + grid3); //vzdy kladna hodnota\n\n    if (_general_stop == true){\n        sTurn = \"off\";\n        nTurn = 0;\n    }else{// Zkontroluj, zda totalACLoad nebo  _ABS_totalGrid je větší jako n_trigger_Changer a podle toho nastav sTurn.\n        if (totalACLoad > n_trigger_Changer || _ABS_totalGrid > n_trigger_Changer) {\n            sTurn = \"on\";\n            nTurn = 1;\n        } else {\n            sTurn = \"off\";\n            nTurn = 0;\n        }\n    }\n\n    // Vytvořit URL na základě hodnoty sTurn\n    _url = fSendUrl(sIpAddress, nRelayNumber, sTurn);\n\n    // Nastavit payload zprávy\n    msg.payload = {\n        _url_ch: _url,\n        _ABS_totalGrid: _ABS_totalGrid,\n        totalACLoad: totalACLoad,\n        sTurn: sTurn + \" CHANGER\",\n        nTurn: nTurn\n    };\n\n    // Debug výpisy\n    if (debug) {\n        node.warn(\"totalACLoad: \" + totalACLoad);\n        node.warn(\"sTurn: \" + sTurn);\n        node.warn(\"URL: \" + _url);\n        node.warn(\"_ABS_totalGrid: \" + _ABS_totalGrid);\n    }\n    } else {\n    node.error(\"Globální funkce nebyly nalezeny. <- FORM CHLAZENI FVE -- CHANGER\");\n}\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":340,"wires":[["290dcec4e2dbed6d","70a281e12c852b87","ee6410f23d9f9867","2cd8f1d0601931db","0113661ddfe281dc"]]},{"id":"3416fd3bc02de1c1","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"debug 17","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1380,"y":300,"wires":[]},{"id":"e88d7e3953ab230d","type":"inject","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"FAN ALL STOP","props":[{"p":"payload._general_stop","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":200,"y":380,"wires":[["963735aa2c2813dd","af0ca4755bf9af8e"]]},{"id":"dcf18630a930ca56","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"OFF_CHANGERs","func":"//*****************************************************************************\n//\n// File Name        : 'Chlazeni MPTT trakeru'\n// Title            : Cooling of Trackers in the Rack\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2023\n// Created          : 19-12-2023, 09:51\n// Revised          : 19-12-2023, 09:52\n// Version          : 1.11\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\nmsg.payload  = \"http://192.168.11.9/relay/0?turn=off\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":220,"wires":[["84042b69f9b84c81"]]},{"id":"8276fff68367b447","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"ON_CHANGERs","func":"//*****************************************************************************\n//\n// File Name        : 'Chlazeni MPTT trakeru'\n// Title            : Cooling of Trackers in the Rack\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2023\n// Created          : 19-12-2023, 09:51\n// Revised          : 19-12-2023, 09:52\n// Version          : 1.11\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\nmsg.payload  = \"http://192.168.11.9/relay/0?turn=on\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":260,"wires":[["84042b69f9b84c81"]]},{"id":"336752599f366b33","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"sTurn","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.sTurn","targetType":"msg","statusVal":"payload.sTurn ","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"c71d738693128266","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"pvPower","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.pvPower","targetType":"msg","statusVal":"payload.pvPower","statusType":"auto","x":820,"y":540,"wires":[]},{"id":"290dcec4e2dbed6d","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"_url_ch","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload._url_ch","targetType":"msg","statusVal":"payload","statusType":"auto","x":820,"y":280,"wires":[]},{"id":"70a281e12c852b87","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"sTurn","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.sTurn","targetType":"msg","statusVal":"payload.sTurn ","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"ee6410f23d9f9867","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"totalACLoad","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.totalACLoad","targetType":"msg","statusVal":"payload.pvPower","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"2cd8f1d0601931db","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"CopyOnChange_URL_ch","func":"//*****************************************************************************\n//\n// File Name        : N/A\n// Title            : N/A\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 16-07-2024, 04:40\n// Revised          : 19-07-2024, 16:51\n// Version          : 1.01\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\n// Debugging flag\nconst debug = false;  // Nastavte na true pro zapnutí debug zpráv\n\nconst nWaitLoop = 20; //kolik cyklu cekat\n\n// Inicializace kontextových proměnných\nlet nCopyOnChange_url_ch = context.get('nCopyOnChange_url_ch') || \"\";\nlet nWaitLoop_ch = context.get('nWaitLoop_ch') || 0;\nlet nStopLoop_ch = context.get('nStopLoop_ch') || false;\n\n// Načtení vstupních dat\nconst _url_ch = msg.payload && msg.payload._url_ch ? msg.payload._url_ch : \"\";\nconst nTurn = msg.payload && msg.payload.nTurn !== undefined ? msg.payload.nTurn : false;\n\n// Zvýšení nWaitLoop_ch\nnWaitLoop_ch += 1;\ncontext.set('nWaitLoop_ch', nWaitLoop_ch);\n\n// Debug výpisy\nif (debug) {\n    node.warn(\"_url_ch: \" + _url_ch);\n    node.warn(\"nCopyOnChange_url_ch: \" + nCopyOnChange_url_ch);\n    node.warn(\"nWaitLoop_ch: \" + nWaitLoop_ch);\n    node.warn(\"nWaitLoop: \" + nWaitLoop);\n    node.warn(\"nTurn: \" + nTurn);\n    node.warn(\"nStopLoop_ch: \" + nStopLoop_ch);\n}\n\n// Porovnat aktuální hodnotu s poslední odeslanou hodnotou a nebo pri nWaitLoop a nTurn == false (20x po sobe prislo potvrzenivypnuti ventilatoru), provest vypnuti ventilatoru\nif (_url_ch != nCopyOnChange_url_ch || (nWaitLoop_ch > nWaitLoop && nTurn == false)) {//vypinani ventilatoru\n    if (nWaitLoop_ch > nWaitLoop && nTurn == false) {//20x posobe prislo stop, tak vypnout ventilator\n        // pri nWaitLoop a nTurn == false (20x po sobe prislo potvrzenivypnuti ventilatoru), provest vypnuti ventilatoru\n        if (nStopLoop_ch == false) {;\n            context.set('nCopyOnChange_url_ch', _url_ch);\n            context.set('nStopLoop_ch', true);\n            msg.payload = _url_ch; // Odeslat zprávu\n            return msg;\n        } else {//toto by nikdy nemelo nastat\n            return null; // Vrátit null, aby zpráva nebyla odeslána\n        }\n    } else {\n\n        if (nTurn == true) {\n            context.set('nCopyOnChange_url_ch', _url_ch);\n            context.set('nWaitLoop_ch', 0);\n            context.set('nStopLoop_ch', false);\n            msg.payload = _url_ch; // Odeslat zprávu\n            return msg;\n        }\n        else{//neprislo po sobe 20x stop fan\n            return null; // Vrátit null, aby zpráva nebyla odeslána\n        }\n    }\n\n} else {//zapnuty ventilator\n    if (nTurn == true) {\n        context.set('nCopyOnChange_url_ch', _url_ch);\n        context.set('nWaitLoop_ch', 0);\n        context.set('nStopLoop_ch', false);\n        msg.payload = _url_ch; // Odeslat zprávu\n        return msg;\n    } else {//toto by nikdy nemelo nastat\n        return null; // Vrátit null, aby zpráva nebyla odeslána\n        }\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":340,"wires":[["84042b69f9b84c81"]]},{"id":"d705678e916ee6db","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"CopyOnChange_URL_m","func":"//*****************************************************************************\n//\n// File Name        : N/A\n// Title            : N/A\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 16-07-2024, 04:40\n// Revised          : 16-07-2024, 16:01\n// Version          : 1.00\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\n// Debugging flag\nconst debug = false;  // Nastavte na true pro zapnutí debug zpráv\n\nconst nWaitLoop = 20; //kolik cyklu cekat\n\n// Inicializace kontextových proměnných\nlet nCopyOnChange_url_m = context.get('nCopyOnChange_url_m') || \"\";\nlet nWaitLoop_m = context.get('nWaitLoop_m') || 0;\nlet nStopLoop_m = context.get('nStopLoop_m') || false;\n\n// Načtení vstupních dat\nconst _url_m = msg.payload && msg.payload._url_m ? msg.payload._url_m : \"\";\nconst nTurn = msg.payload && msg.payload.nTurn !== undefined ? msg.payload.nTurn : false;\n\n// Zvýšení nWaitLoop_ch\nnWaitLoop_m += 1;\ncontext.set('nWaitLoop_m', nWaitLoop_m);\n\n// Debug výpisy\nif (debug) {\n    node.warn(\"_url_m: \" + _url_m);\n    node.warn(\"nCopyOnChange_url_m: \" + nCopyOnChange_url_m);\n    node.warn(\"nWaitLoop_m: \" + nWaitLoop_m);\n    node.warn(\"nWaitLoop: \" + nWaitLoop);\n    node.warn(\"nTurn: \" + nTurn);\n    node.warn(\"nStopLoop_mh: \" + nStopLoop_m);\n}\n\n// Porovnat aktuální hodnotu s poslední odeslanou hodnotou a nebo pri nWaitLoop a nTurn == false (20x po sobe prislo potvrzenivypnuti ventilatoru), provest vypnuti ventilatoru\nif (_url_m != nCopyOnChange_url_m || (nWaitLoop_m > nWaitLoop && nTurn == false)) {//vypinani ventilatoru\n    if (nWaitLoop_m > nWaitLoop && nTurn == false) {//20x posobe prislo stop, tak vypnout ventilator\n        // pri nWaitLoop a nTurn == false (20x po sobe prislo potvrzenivypnuti ventilatoru), provest vypnuti ventilatoru\n        if (nStopLoop_m == false) {;\n            context.set('nCopyOnChange_url_m', _url_m);\n            context.set('nStopLoop_m', true);\n            msg.payload = _url_m; // Odeslat zprávu\n            return msg;\n        } else {//toto by nikdy nemelo nastat\n            return null; // Vrátit null, aby zpráva nebyla odeslána\n        }\n    } else {\n\n        if (nTurn == true) {\n            context.set('nCopyOnChange_url_m', _url_m);\n            context.set('nWaitLoop_m', 0);\n            context.set('nStopLoop_m', false);\n            msg.payload = _url_m; // Odeslat zprávu\n            return msg;\n        }\n        else{//neprislo po sobe 20x stop fan\n            return null; // Vrátit null, aby zpráva nebyla odeslána\n        }\n    }\n\n} else {//zapnuty ventilator\n    if (nTurn == true) {\n        context.set('nCopyOnChange_url_m', _url_m);\n        context.set('nWaitLoop_m', 0);\n        context.set('nStopLoop_m', false);\n        msg.payload = _url_m; // Odeslat zprávu\n        return msg;\n    } else {//toto by nikdy nemelo nastat\n        return null; // Vrátit null, aby zpráva nebyla odeslána\n        }\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":380,"wires":[["84042b69f9b84c81"]]},{"id":"0113661ddfe281dc","type":"debug","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"_ABS_totalGrid","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload._ABS_totalGrid","targetType":"msg","statusVal":"payload","statusType":"auto","x":840,"y":100,"wires":[]},{"id":"8579b5149bcc953d","type":"inject","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"Nouzovy START","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":260,"wires":[["8276fff68367b447"]]},{"id":"b30112a2ed023059","type":"inject","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"Nouzovy STOP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":220,"wires":[["dcf18630a930ca56"]]},{"id":"b14b4c17683c173a","type":"inject","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"Nouzovy STOP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":480,"wires":[["adc258f90f469e5a"]]},{"id":"c9bf73f8978fc162","type":"inject","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"Nouzovy START","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":520,"wires":[["4b426567f09395d4"]]},{"id":"08ae0e51d9c5db3d","type":"function","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"Process Response","func":"//*****************************************************************************\n//\n// File Name        : N/A\n// Title            : N/A\n// Author           : http://www.prochazka.zde.cz -> hacesoft 2024\n// Created          : 16-07-2024, 04:40\n// Revised          : 16-07-2024, 16:01\n// Version          : 1.00\n// Target Platform  : Node-RED\n//\n// This code is distributed under the GNU Public License\n// Všechny informace jsou zahrnuty pod GPL licenci, pokud není explicitně uveden jiný typ licence.\n// Používání těchto stránek a produktů ke komerčním účelům lze jen se souhlasem autora.\n// Všechna práva vyhrazena (c) 1997 - 2024 hacesoft.\n//\n//*****************************************************************************\n// Debugging flag\nconst debug = false;  // Nastavte na true pro zapnutí debug zpráv\n\n// Kontrola statusCode\nif (msg.statusCode !== 200) {\n    return null; // Pokud není statusCode 200, vrátíme null a ukončíme zpracování\n}\n\nconst response = JSON.parse(msg.payload);\nlet sURL = msg.responseUrl;\n\n// Ruční zpracování URL pro získání IP adresy a hodnoty 'turn'\nlet ipAddress = sURL.split('/')[2];\nlet turnValue = sURL.includes('turn=on') ? 'on' : 'off';\n\nlet indicatorMsg = {};\n\n// Debugging vstupních dat\nif (debug) {\n    node.warn(\"sURL: \" + sURL);\n    node.warn(\"ipAddress: \" + ipAddress);\n    node.warn(\"turnValue: \" + turnValue);\n}\n\nif (ipAddress === '192.168.11.7') {\n    indicatorMsg = { indicator: 'mptt-fan', status: turnValue, topic: 'update-indicator' };\n} else if (ipAddress === '192.168.11.9') {\n    indicatorMsg = { indicator: 'changer-fan', status: turnValue, topic: 'update-indicator' };\n}\n\nreturn { payload: indicatorMsg };\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":360,"wires":[["8d54f61ab89ebbd6"]]},{"id":"8d54f61ab89ebbd6","type":"ui_template","z":"6cf0017697520c44","g":"5ef2f88976e86112","group":"eff8c2fb7917b0ab","name":"Indicators","order":27,"width":6,"height":2,"format":"<style>\n    .fan-icon {\n        display: inline-block;\n        width: 20px;\n        height: 20px;\n        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH6QIHDwc0fyGufAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACASURBVDjLpVPbDQAhCCvE35vm9h/BaRxAv7gQjqKJ/FmglIeCxEbHzPDnhURMqkRLYPivagw8wTRWYPJZnGayMhKP+VhlDntnmCdtbNJHgwPQzFkpYW2Mjqm4tGbMrGrV/0eQyYyEDNdqfeyQvCLd7Xl3Jxqd1SyyuOvPJLffeQEfJ2TeTXvcjAAAAABJRU5ErkJggg==');\n        background-size: contain;\n        background-repeat: no-repeat;\n        vertical-align: middle;\n        margin-right: 5px; /* Přidání mezery mezi obrázkem a textem */\n    }\n    .fan-container {\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        margin-left: 13px;\n    }\n    .fan-text {\n        display: inline-flex;\n        align-items: center;\n    }\n    .indicator {\n        width: 20px;\n        height: 20px;\n        border-radius: 50%;\n        background-color: grey;\n        margin-right: 13px;\n    }\n</style>\n\n<div style=\"display: flex; flex-direction: column; gap: 8px; border: 0px solid black; padding-top: 5px; padding-bottom: 5px; background-color: #3c3c3c;\">\n    <div class=\"fan-container\">\n        <div class=\"fan-text\">\n            <div class=\"fan-icon\"></div>\n            <span>MPTT FAN</span>\n        </div>\n        <div id=\"mptt-fan-indicator\" class=\"indicator\"></div>\n    </div>\n    <div class=\"fan-container\">\n        <div class=\"fan-text\">\n            <div class=\"fan-icon\"></div>\n            <span>CHANGER FAN</span>\n        </div>\n        <div id=\"changer-fan-indicator\" class=\"indicator\"></div>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        function updateIndicator(indicatorId, turnValue) {\n            var indicator = document.getElementById(indicatorId);\n            if (turnValue === 'on') {\n                indicator.style.backgroundColor = '#32cd32'; // Zelená barva\n            } else {\n                indicator.style.backgroundColor = 'grey'; // Šedá barva\n            }\n        }\n\n        scope.$watch('msg.payload', function(msg) {\n            if (msg && msg.indicator && msg.status) {\n                updateIndicator(msg.indicator + '-indicator', msg.status);\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1600,"y":360,"wires":[[]]},{"id":"af0ca4755bf9af8e","type":"delay","z":"6cf0017697520c44","g":"5ef2f88976e86112","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":340,"wires":[["9b2cf902516106b9"]]}]